@charset "utf-8";
/* latin-ext */
@import url(http://fonts.googleapis.com/earlyaccess/notosansmalayalam.css);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
a:hover,
a:active,
a:focus{
    text-decoration: none;
    outline: none;
}
.clear-fix:before,
.clear-fix:after{
    display: table;
    content: " ";
}
.clear-fix:after{
    clear: both;
}
body{
    font-family: "Noto Sans Malayalam","Source sans pro", sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
.header{
    background-color: #e50046;
    padding: 15px;
    text-align: center;
    position: relative;
    z-index: 999;
}
.arc{
    width: 110%;
    height: 110px;
    -moz-border-radius: 55% / 55px;
    -webkit-border-radius: 55% / 55px;
    border-radius: 50% / 55px;
    background-color: #e50046;
    margin-top: -55px;
    position: relative;
    z-index: 99;
    overflow: hidden;
    margin-left: -5%;
}
.main_img img {
    width: 100%;
    margin-top: 100px;
}
.main_des{
    margin-top: 40px;
}
.main_down{
    text-align: right;
    margin-top: 60px;
}
.main_down a{
    display: inline-block;
    padding: 5px 10px;
    color: #e50046;
    border: 2px solid #e50046;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.main_down a:hover{
    color: #FFF;
    background-color: #e50046;
}
.main_des h3{
    text-transform: uppercase;
    font-size: 26px;
    margin-top: 60px;
}
.main_des p{
    margin-top: 10px;
    line-height: 22px;
    font-weight: 300;
}
.hrow{
    width: 100%;
    height: 1px;
    background-color: #e50046;
    margin: 30px 0px;
}
.spec_item{
    margin-bottom: 25px;
}
.spec_item h4{
    text-transform: uppercase;
    color: #FFF;
    padding: 10px 15px;
    margin-bottom: 10px;
}
.mob_banner{
    width: 290px;
    height: 569px;
    background-image: url(../images/phone_slider.png);
    overflow: hidden;
    margin: 0px auto 25px auto;
}
.banner_wrap{
    width: 259px;
    height: 462px;
    margin-top: 46px;
    margin-left: 15px;
    background-color: #e50046;
    position: relative;
}
.mob_controls {
    text-align: center;
    margin-top: 14px;
}
.mob_controls span{
    display: inline-block;
}
.mob_control a{
    display: inline-block;
    color: #666;
    font-size: 32px;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    margin: 0px 5px;
    line-height: 25px;
}
.footer {
    background-color: #e50046;
    color: #FFF;
    padding: 30px 0px;
}
.footer_down a{
    display: inline-block;
    padding: 7px 20px;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 300;
    background-color: #333;
    color: #FFF;
    border-radius: 5px;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.footer_down a span {
    display: inline-block;
    margin-right: 7px;
}
.footer_down a img {
    max-width: 30px;
}
.footer_down a:hover{
    background-color: #000;
}
.power {
    text-align: right;
}
.power img {
    max-width: 80px;
}
.lang {
    position: fixed;
    width: 200px;
    left: 0;
    margin-left: -200px;
    top: 200px;
    background-color: #e50046;
    color: #FFF;
    z-index: 99999;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.lang.active {
    margin-left: 0px;
}
.lang h3 {
    font-size: 19px;
    padding: 5px 10px;
}
.lang_lnks {
    padding: 5px 10px;
    text-align: right;
}
.lang_lnks a {
    display: inline-block;
    padding: 5px 15px;
    color: #FFF;
    border: 1px solid #FFF;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.lang_lnks a.active {
    background-color: #000;
    border-color: #000;
}
.lang_lnks a:hover {
    background-color: #000;
    border-color: #000;
}
.lang_foot {
    margin-top: 10px;
    border-top: 1px solid #c31041;
    padding: 5px 10px;
    text-align: right;
}
.lang_foot button {
    display: inline-block;
    padding: 1px 15px;
    background-color: #e50046;
    color: #FFF;
    border: 1px solid #FFF;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.lang_foot button:hover {
    background-color: #000;
    border-color: #000;
}
span.lang_trigger {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #e50046;
    margin-right: -35px;
    cursor: pointer;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
span.lang_trigger:hover {
    color: #000;
}
@media only screen and (max-width: 767px) {
    .footer_down {
        text-align: center;
        margin-bottom: 20px;
    }
    .power {
        text-align: center;
    }
}





















